# Ignore Visual Studio temporary files, build results, and user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# Others
*.log
*.DS_Store

firebase-adminsdk.json
acadence-40662-firebase-adminsdk-fbsvc-bd170ba90c.json
# Prevent tracking Firebase keys anywhere under the project
**/firebase-adminsdk*.json
